@charset "UTF-8";



* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #2a2a2a;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    color: #2a2a2a;
    border: 1px solid #2a2a2a;
    display: inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
}



/*-------------------------------------------
Header
-------------------------------------------*/
.header {
    background: url(/assets/img/mainvisual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
    margin-bottom: 80px;
    position: relative;

    h1 {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}

/*-------------------------------------------
Magazine
-------------------------------------------*/
#magazine {
    text-align: center;
    margin-bottom: 80px;

    .magazine__contents {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        @media (max-width: 896px) {
            flex-direction: column;
        }

        .item {
            width: 49%;
            position: relative;

            @media (max-width: 896px) {
                width: 100%;
            }

            &:first-child {
                @media (max-width: 896px) {
                    margin-bottom: 30px;
                }
            }

            .text {
                max-width: 290px;
                color: #fff;
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 15px 0;
                margin: 0 auto;
                position: absolute;
                top: 40%;
                left: 0;
                right: 0;
            }

            .title {
                font-size: 1.25rem;
                margin-bottom: 2px;
            }
        }
    }
}

/*-------------------------------------------
Fashion
-------------------------------------------*/
#fashion {
    height: 520px;
    background-image: url(/assets/img/fashion.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 80px;

    @media (max-width: 896px) {
        padding-top: 35px;
        margin-bottom: 50px;
    }
}

/*-------------------------------------------
Catalog & Antique
-------------------------------------------*/
.catalog-antique {
    background-color: #f5f5f5;
    padding: 60px 0;

    @media (max-width: 896px) {
        padding: 30px 0;
    }

    .sec-title {
        margin-bottom: 40px;
    }

    .flex-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 896px) {
            flex-direction: column;
        }
    }

    .item {
        width: 48%;
        text-align: center;

        @media (max-width: 896px) {
            width: 100%;
        }

        &:first-child {
            @media (max-width: 896px) {
                margin-bottom: 60px;
            }
        }

        img {
            width: 100%;
        }

        p {
            margin-bottom: 30px;
            text-align: left;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
    background-color: #333;
    font-size: 0.750rem;

    .flex-item {
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;

        @media (max-width: 896px) {
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .item {
        width: 33%;
        line-height: 2;

        @media (max-width: 896px) {
            width: 100%;
            margin-bottom: 30px;
        }

        &:first-child {
            padding: 60px 0;

            @media (max-width: 896px) {
                text-align: center;
                padding: 0;
            }
        }

        li {
            &::before {
                content: "-";
                margin-right: 5px;
            }
        }

        .title {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .copyright {
        background: #fff;
        text-align: center;
        padding: 30px 0;
    }
}